{% extends 'base.html' %}
{% block title %} Update Car {% endblock %}

{% block nav %}

<ul class="nav navbar-nav navbar-right">
    <li><a href="{% url 'home' %}">HOME</a></li>
    <li>{% if user.is_authenticated %}
        <p id="log" style="color: white;top:16px">Welcome, {{ user.username }}!</p></li>
        <li><form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            &nbsp;&nbsp;<button id="log2" style="background:transparent;color:white;" type="submit">LOG OUT</button>
        </form></li><li>
    {% else %}
        <a id="log3" href="{% url 'login' %}" style="color: white;">LOGIN</a>
    {% endif %}</li>
  </ul>

{% endblock %}

{% block body %}

<div class="container" style="margin-top: 50px;">
    <div class ='col-sm-6 col-sm-offset-3'>
        
        <p class="list-group-item active">
        <strong><span class="glyphicon glyphicon-tag"></span> Update Car</strong>
        </p>
        <div class="form-outline mb-4" >
        <form method="post" id="form1">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Update</button>
            <a href="{% url 'admin_carlist' %}"><button type="button" class="btn btn-primary">Back</button></a>
        </form>
    </div>
    </div>
</div>
{% endblock %}
